<!-- the underscore '_' in the file name signal that this is a partial -->
<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #33b5e5;">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div class="login status">
      <% if(email) { %>
        <form method="POST" action="/logout" class="form-inline">
          <label>Logged in as: <%= email %></label>
          <button type="submit" class="btn btn-light d-inline p-2 " style="margin: 0 1em; padding: 0 1em;">Logout</button>
          <br>
        </form>
      <% } else { %>
        <form method="GET" action="/register" class="form-inline" style="padding: 0 10px;">
          <label style="font-size: 0.8em; ">New user?</label>
          <button type="submit" class="btn btn-sm btn-light d-inline p-2 " style="margin: 0 2em; padding: 0 2em;">Register</button>
        </form>
        <form method="GET" action="/login" style="padding: 0 10px;">
          <label style="font-size: 0.8em; ">Already have an account?</label>
          <button type="submit" class="btn btn-sm btn-light d-inline p-2 " style="margin: 0 2em; padding: 0 2em;">  Login  </button>
        </form>
      <% } %>
    </div>
  </nav>
</header>